@{
    Response.Cache.SetExpires(DateTime.Now.AddMinutes(30));
}
<!DOCTYPE html>
<html manifest="~/AppCache/AppManifest" type="text/cache-manifest" ng-app="AwesomeAngularMVCApp" ng-controller="LandingPageController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="stateOne">Experience Travel</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="stateOne">DashBoard</a></li>
                    <li><a ui-sref="stateTwo">About</a></li>
                    <li><a ui-sref="stateThree">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="loginRegister">Login / Register</a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Styles.RenderFormat("<link href=\"{0}\" rel='stylesheet' async />", "~/Content/css")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/modernizr")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/bootstrap")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/AwesomeAngularMVCApp")
    @RenderSection("Scripts", required: false)
</body>
</html>
